[Unit]
Description=Run my-utils WireGuard agent every minute

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=5s
Persistent=true
Unit=my-utils-wireguard-agent.service

[Install]
WantedBy=timers.target
